<label>Server Name</label>
<input type="text"
class='form-control'
[(ngModel)]="serverName">
<app-server *ngFor="let server of servers"></app-server>

<button class="btn btn-primary"
  (click)="onCreateServer()">
 Add Server</button>
 <p *ngIf="serverCreated">{{ serverCreationStatus }}</p>
 <!-- <ng-template #noServer><p>No Server was created</p></ng-template> -->


 <!-- <input 
 type="text"
 class="form-control"
 [(ngModel)]=userName>
<p> {{ userName }} </p> 

<button class="btn btn-primary" [disabled]="username === ''" (click)="username = '' ">Reset User</button>
<p>{{userNameCreationStatus}}</p> -->

